@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  height: 100vh;
  background: rgb(247, 248, 252);
  background: linear-gradient(
    309deg,
    rgba(247, 248, 252, 1) 35%,
    rgba(244, 244, 252, 1) 39%,
    rgba(226, 240, 253, 1) 42%,
    rgba(243, 237, 249, 1) 46%,
    rgba(243, 229, 244, 1) 50%,
    rgba(237, 228, 245, 1) 53%,
    rgba(236, 232, 249, 1) 56%,
    rgba(241, 241, 251, 1) 59%,
    rgba(249, 250, 252, 1) 62%
  );
}
